import(extrafont)
importFrom("graphics", "par") 
 importFrom("grDevices", "dev.cur", "pdf") 
import(grid)
import(gridGraphics)
importFrom("gridSVG", "dev.off", "elementGrob", "textNodeGrob")
import(knitr)
importFrom("moments", "skewness")
importFrom("nortest", "ad.test")
importFrom("pander", "pander")
import(rmarkdown)
 importFrom("stats", "aggregate", "anova", "na.omit", "qnorm", "rstudent", "sd") 
 importFrom("utils", "browseURL", "file.edit", "menu", "packageVersion", "read.csv", "savehistory", "write.csv") 
importFrom("xtable", "xtable")
 S3method(dotplot,default)
 S3method(dotplot,formula)
 S3method(SVGThis,default)
 S3method(SVGThis,histogram)
S3method(VI,aov)
 S3method(VI,boxplot)
S3method(VI,data.frame)
S3method(VI,default)
 S3method(VI,dotplot)
S3method(VI,hist)
S3method(VI,histogram)
S3method(VI,list)
S3method(VI,lm)
S3method(VI,matrix)
S3method(VI,summary.lm)
S3method(VI,TukeyHSD)
exportPattern("^[[:alpha:]]+")

