importFrom("devtools", "spell_check")
import(dplyr)
import(extrafont)
importFrom("ggplot2", "aes", "geom_point", "geom_smooth", "ggplot", "ggplot_build", "qplot", "labs", "ylab", "xlab", "geom_line") 
importFrom("graphics", "abline", "par", "plot") 
importFrom("grDevices", "dev.cur", "dev.list", "pdf") 
import(grid)
import(gridGraphics)
importFrom("gridSVG", "dev.off", "elementGrob", "textNodeGrob")
importFrom("hunspell", "hunspell")
import(knitr)
import(magrittr)
import(mathjaxr)
importFrom("moments", "skewness")
importFrom("quarto", "quarto_path")
importFrom("Rdpack","reprompt")
importFrom("rlang", "is_true")
import(rmarkdown)
import(roloc)
import(rolocISCCNBS)
importFrom("stats", "aggregate", "anova", "as.ts", "coef", "cor", "lm", "median", "na.omit", "qnorm", "rstudent", "sd", "is.ts") 
importFrom("tools", "Rd2ex")
importFrom("utils", "browseURL", "create.post", "download.file", "file.edit", "head", "menu", "packageVersion", "read.csv", "read.table", "savehistory", "Sweave", "str", "tail", "unzip", "write.csv") 
importFrom("whisker", "whisker.render")
importFrom("XML", "addAttributes", "newXMLDoc", "newXMLNode", "ensureNamespace", "newXMLTextNode", "xmlName", "xmlRoot", "saveXML", "getNodeSet", "xmlGetAttr", "addChildren", "removeChildren", "xmlChildren")
importFrom("xtable", "xtable")
S3method(AddXML,default)
  S3method(AddXML,boxplot)
  S3method(AddXML,dotplot)
  S3method(AddXML,eulerr)
  S3method(AddXML,ggplot)
  S3method(AddXML,histogram)
  S3method(AddXML,scatterplot)
  S3method(AddXML,tsplot)
S3method(Augment,default)
  S3method(Augment,Augmented)
  S3method(Augment,boxplot)
  S3method(Augment,dotplot)
  S3method(Augment,eulerr)
  S3method(Augment,ggplot)
  S3method(Augment,gg)
  S3method(Augment,histogram)
  S3method(Augment,scatterplot)
  S3method(Augment,tsplot)
S3method(Describe,default)
  S3method(Describe,histogram)
  S3method(Describe,scatterplot)
  S3method(Describe,tsplot)
  S3method(Describe,ggplot)
S3method(dotplot,default)
  S3method(dotplot,formula)
S3method(grep,default)
S3method(grep,VIgraph)
S3method(gsub,default)
S3method(gsub,VIgraph)
S3method(MakeAccessibleSVG,default)
  S3method(MakeAccessibleSVG,ggplot)
  S3method(MakeAccessibleSVG,histogram)
  S3method(MakeAccessibleSVG,scatterplot)
  S3method(MakeAccessibleSVG,tsplot)
S3method(plot,fittedlineplot)
S3method(plot,scatterplot)
S3method(plot,tsplot)
S3method(print,description)
S3method(print,multiDescription)
S3method(print,fittedlineplot)
S3method(print,scatterplot)
S3method(print,tsplot)
S3method(print,wordlist)
S3method(print,VI)
S3method(print,VIgraph)
S3method(sort,VIgraph)
S3method(SVGThis,default)
  S3method(SVGThis,boxplot)
  S3method(SVGThis,dotplot)
  S3method(SVGThis,eulerr)
  S3method(SVGThis,ggplot)
  S3method(SVGThis,histogram)
  S3method(SVGThis,scatterplot)
  S3method(SVGThis,tsplot)
S3method(update,fittedlineplot)
S3method(update,scatterplot)
S3method(update,tsplot)
S3method(VI,default)
  S3method(VI,aov)
  S3method(VI,boxplot)
  S3method(VI,data.frame)
  S3method(VI,dotplot)
  S3method(VI,ggplot)
  S3method(VI,hist)
  S3method(VI,histogram)
  S3method(VI,htest)
  S3method(VI,list)
  S3method(VI,lm)
  S3method(VI,matrix)
  S3method(VI,qcc)
  S3method(VI,summary.lm)
  S3method(VI,tsplot)
  S3method(VI,TukeyHSD)
exportPattern("^[[:alpha:]]+")

